// *************************************
//
//   Inbox
//   -> CSS added by people who do not
//      actively maintain the CSS
//
// *************************************

// Inbox CSS here

#content {
    text-rendering: optimizeLegibility;

     #content-body {
        padding-right: 1rem;
        padding-left: 1rem;
        // font-size: 1.3125em;
        // letter-spacing: 0.01rem;
        // line-height: 1.5;
         section, p, ul, hr, h1, h2, h3, h4, h5, h6 {
            @extend .centered-block;
            li {
                margin-left: 1.2rem;
            }
         }
     }

}