// Modules in this context refer to any unit of style that can be found across multiple pages. Most of your styles should be found here. This draws from the OOCSS idea of separating everything into reusable chunks, making it second-nature if you're familiar with that method.

// Examples of Modules
// Here are some commonly occurring examples of modules:

// Modals
// Buttons
// Tooltips
// Navigation
// Re-appearing chunks of content, like a user info card or sidebar

// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html 
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

.unstyled-ul-list {
    background: red;
    li {
        list-style: none;
        display: inline;
    }
}

.header {
    @include grid-row();
    position: relative;
    border-bottom: 0.2rem solid $main-color;
    .title {
        padding: 4rem 4rem 1rem;
        small {
            font-weight: 500;
        }
    }
    nav {
        position: absolute;
        right: 4rem;
        bottom: 1.75rem;
        ul {
            margin: 0;
        }
        li {
            list-style: none;
            display: inline;
        }
        // li:after {
        //     // content: "\2022";
        //     content: "";
        //     margin: 0 0.5rem;
        // }
        // li:last-child:after {
        //     display: none;
        // }
        li:last-child a {
            margin-right: 0;
        }
        a {
            font-weight: 700;
            border-bottom: 1px dotted $main-color;
            color: $main-color;
            margin-right: 0.5rem;
            &.active {
                border-bottom-style: solid;
            }
            &:hover {
                color: $primary-color;
            }
        }
        .description {
            display: none;
        }
    }
}

.hero {
    @include grid-row();    
    padding: 6rem 4rem;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -0.2;
        line-height: 1.25;
        // background: black;
        // color: white;
    }


}

.why {
    @include grid-row();
    padding: 0 4rem;
    margin-top: 6rem;  
    margin-bottom: 4rem;
    .stuff {
        max-width: $content-width;
    }
}

.about-me {
    @include grid-row();

    padding: 0 4rem;
    margin-bottom: 8rem;

    .skill-column {
        @extend .medium-3;
        @extend .columns;
        &:first-child {
            padding-left: 0;
            background: red;
        }
        // padding-left: 0;
        ul {
            border-left: 1px solid $off-white;
            font-weight: normal;
            margin: 0;
            li {
                list-style: none;
                margin-left: 1rem;
            }
        }
    }

    h4 {
        @extend .big-thin-text;
    }

    .more-skills {
        margin-top: 2rem;
        ul {
            margin: 0;
        }
        li {
            display: inline;
            // list-style: none;
            // border-left: 1px solid $light-gray;
            // padding: 0 1rem;
            &:after {
                content: "\2022";
                font-weight: 100;
                line-height: 1;
                color: $light-gray;
                padding: 0 0.5rem;
            }
            &:last-child:after {
                content: "";
            }
        }
    }

    .we-will-get-along {
        ul {
            margin: 0;
        }
        li {
            @extend .big-thin-text;
            list-style: none;
            border-bottom: 1px solid $off-white;
            &:last-child {
                border-bottom: 0;
            }
        }
        margin-bottom: 4rem;
    }
    hr {
        margin: 4rem 0;
    }
}

.project-item {
    @include grid-row();
    height: 30rem;
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.2rem solid $main-color;
    border-left: 0;
    border-right: 0;
    .logo {
        height: 2rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 1rem;
        small {
            margin-top: 1rem;
            font-size: 3rem;
            font-weight: 700;
            color: $main-color;
            width: 75%;
        }
    }
    .content {
        padding: 0 4rem;
    }
}

.projects-container {
    // @include grid-row();
}


.next-project-button {
    right: 0;
}
.previous-project-button {
    left: 0;
}
.next-project-button, .previous-project-button {
    position: fixed;
    background: $off-white;
    padding: 1rem;
    padding-bottom: 1.2rem;
    z-index: 2000;
    top: 20rem;
    font-size: 2rem;
    color: $main-color;
}

.projects {
    // -webkit-perspective: 600px;
    // @include transform(scale(0.3, 0.3));
}

.project {
    @include grid-row();

    @include transform(translateZ(0));

    &, h2, h3, h4, h5, h6, h1 small, p, li, .name, .product-shot, .product-shot .device, .browser-screenshot {
        @include transform(translateZ(0));
        -webkit-transition-property: height, color, padding, margin, opacity, background, -webkit-transform;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: $ease-in-out-back;
        // -webkit-transition: height, padding 0.3s ease, margin 0.3s ease, max-height, border, opacity 0.3s ease;
        // max-height: 1000px;
        // opacity: 1;
        // overflow: hidden;
    }

    // @extend .centered-block;
    // @extend .row;
    // max-width: 800px;
    padding: 0rem 4rem 4rem;
    // border-top: 0.2rem solid $main-color;

    & > .description {
        max-width: $content-width;
        border-top: 0.2rem solid $off-white;
    }

    & > h1 {
        // text-align: center;
        font-size: 100%;
        letter-spacing: 0;
        .name {
            display: inline;
        }
        small {
            letter-spacing: -0.06rem;
            line-height: 1.4;
            color: $main-color;
            // background: $off-white;
            max-width: 750px;
            font-size: 3rem;
            font-weight: 700;
            padding-bottom: 1rem;
            margin-top: 1.5rem;
            // border: 0.15rem solid;
            // font-style: italic;
            // text-align: center;
        }
    }

    @media #{$small-only} {
        & > .description, & > h1 {
            @include grid-row();
            padding: 1rem;
        }
    }

    @media #{$medium-up} {
        & > h1 {
            margin: 4rem 0 0 0;
        }
        & > .description {
            padding: 2rem 0;
        }
    }

    .logo {
        // width: 2rem;
        height: 2rem; // we want the logo to vertically align with the text
        margin-right: 1rem;
    }

    .product-shot {
        @include grid-row();
        padding: 2rem 0;
        @media #{$medium-up} {
            padding: 3rem 0rem;
        }
        border-top: 0.2rem solid $off-white;
        .iphone-5-vertical {
            // @extend .medium-6;
            // @extend .columns;
        }
        .description {
            @extend .medium-6;
            @extend .columns;
            max-width: $content-width;
        }
        @media #{$medium-up} {
            .description {
                margin-top: 85px;
            }
        }
        @media #{$small-only} {
            // &:nth-child(odd) {
            //     background: $off-white;
            // }
            img {

            }
            .description {
                margin-top: 2rem;
            }
        }
    }

    .product-shot p {
        // float: left;
    }
}

.sticky-contact.button {
    top: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 1000;
}

.about-section {

}

footer.footer {
    @include grid-row();
    // background: black;
    // color: white;
    border-top: 0.2rem solid $main-color;
    padding: 2rem 4rem 4rem;
    // margin-top: 6rem;
    .contact.button {
        width: 100%;
        padding: 2rem 0;
        font-size: 4rem;
        font-weight: 200 !important;
        // color: black;
        // background: white;
    }
}