$black: #000;
$main-color: #555;
$secondary-color: #888;
$light-gray: #bbb;
$off-white: #eee;
$teal: #099;

$blue: hsl(210deg, 58%, 47%);
$red: hsl(4deg, 60%, 56%);

$content-width: 550px;


.grid-row-test {
    @include grid-row();
    .section {
        // @include grid-column(6);
        @extend .medium-6;
        @extend .columns;
    }
}

body {
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
h1, h2 {
    // font-weight: 900;
}

#header {
    display: none;

    padding: 2rem 2rem;
    width: 12rem;
    position: fixed;
    z-index: 2000;
    margin-top: 1rem;
    &.bordered {
        margin-top: 2rem;
        background: white;
        border: 0.1rem solid $light-gray;
        border-left: 0;
    }
}
    #header-logo {
        // width: 8rem;
    }
    #company-tagline {
        // text-align: right;
        line-height: 1.25;
        font-size: .85rem;
        color: $secondary-color;
        font-style: italic;
        padding: 1rem 0;
    }
    #nav {
        li {
            list-style: none;
            a {
                color: $main-color;
                display: block;
                padding: rem-calc(10) 0;
                // background: red;
                border-top: rem-calc(1) solid $light-gray;
                text-align: right;
                position: relative;
            }
        }
    }


#hero {
    display: none;

    // position: absolute;
    width: 100%;
    padding: 9rem 12rem;
    top: 0;
    line-height: 1.25;

    padding: 0 1rem;
    padding-bottom: 50rem;
    position: relative;
    margin: 0 auto;
    max-width: $content-width;
    text-rendering: optimizeLegibility;

    .title {
        font-weight: 300;
        font-size: 3.25rem;
    }
}

#subhead {
    display: block;
    line-height: 1.25;
}

#content-container {
    // padding-left: 12rem;
    z-index: 1000;    
    position: absolute;
    width: 100%;
    text-rendering: optimizeLegibility;
    // top: 14rem;

     #content-body {
        // font-size: 1.3125em;
        // letter-spacing: 0.01rem;
        // line-height: 1.5;
         section, p, ul, hr, h1, h2, h3, h4, h5, h6 {
            // padding-right: 1rem;
            // padding-left: 1rem;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            max-width: $content-width;
            li {
                margin-left: 1.2rem;
            }
         }
     }

}








