- var DEBUG = true
mixin product-shot()
  section.product-shot
    if block
      block

mixin more()
  if block
    .toggle-block
      block
  a.toggle-link more...

mixin vertical-iphone(screenshot)
  .medium-6.columns
    .device.iphone-5s-flat-vertical
      img(src='img/'+screenshot)

mixin horizontal-ipad(screenshot)
  .device.ipad-flat-horizontal
    img(src='img/'+screenshot)

mixin project-logo(logo)
  img.logo(src='img/'+logo)

mixin page(title)
  if DEBUG
    doctype html
    html(lang='en')
      head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        if (title)
          title= title + ' - Mark Miro'
        else
          title Mark Miro
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400')
        link(rel='stylesheet', href='build/app.css')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script(src='bower_components/modernizr/modernizr.js')
      body
        include header
        #content
          block
        include footer
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/jquery.scrollTo/jquery.scrollTo.js')
        script(src='node_modules/grunt-contrib-jade/node_modules/jade/runtime.js')
        script(src='http://localhost:35729/livereload.js')
        script(src='build/app.min.js')
  else
    doctype html
    html(lang='en')
      head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        if (title)
          title= title + ' - Mark Miro'
        else
          title Mark Miro
        link(rel='stylesheet', href='build/app.css')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      body
        include google-analytics
        include header
        #content
          block
        include footer