- var DEBUG = true
- var CURRENT_PAGE

mixin more()
  if block
    .toggle-block
      block
  a.toggle-link more...


mixin resonate()
  if DEBUG
    doctype html
    html(lang='en')
      head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Resonate
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400')
        link(rel='stylesheet', href='build/app.css')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script(src='bower_components/modernizr/modernizr.js')
      body
        #content
          block
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/jquery.scrollTo/jquery.scrollTo.js')
        script(src='bower_components/foundation/js/foundation.js')
        script(src='node_modules/grunt-contrib-jade/node_modules/jade/runtime.js')
        script(src='http://localhost:35729/livereload.js')
        script(src='build/app.min.js')
  else
    doctype html
    html(lang='en')
      head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Resonate
        link(rel='stylesheet', href='build/app.css')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      body
        include google-analytics
        #content
          block