header.header
  a(href='/')
    h2.title Mark Miro
     small#subhead
      | Front-end web and app developer / designer
  nav
    ul
      li: +link('portfolio') Projects
      li: +link('labs') Labs
      li: +link('about') About
      li: +link('contact') Contact