include _mixins

.hero
  h1.
    Afraid you won't find a developer<br>who can also design?
  .button Learn more

.project-menu
  .content.js-auto-width
    ul.js-equal-width
      li
        a.active(data-orbit-link='teal-slide') Teal
      li
        a(data-orbit-link='rhapsody-slide') Rhapsody Voice
      li
        a(data-orbit-link='preamble-slide') Preamble
      li
        a(data-orbit-link='its-slide') ITS

.project-item.hide
  .content
    h1
      +project-logo('teal-logo.png')
      .name Teal (Built at Ask Ziggy)
      small A hotel booking app that pushes iOS to it's limit

.projects-container
  .projects(data-orbit)
    .slide(data-orbit-slide='teal-slide')
    .slide(data-orbit-slide='rhapsody-slide')
    .slide(data-orbit-slide='preamble-slide')
    .slide(data-orbit-slide='its-slide')


a.previous-project-button ‹
a.next-project-button ›

a(href='mailto:contact@markmiro.com').button.sticky-contact Contact Me

//- include foundation