.project
  h1
    +project-logo('music-app-logo.png')
    .name Rhapsody Voice (Built at Ask Ziggy)
    small What if you could play any song just by saying its name?
  +product-shot()
    +horizontal-ipad('rhapsody1.gif')
    .row(style='margin-top: 2rem')
      .medium-6.columns
        h2 Native app
        p.
          Given that the previous app only looked native, I have to point out that this one was coded using Objective-C.
      .medium-6.columns
        h2 The concept
        p.
          What if you could control your iPhone or iPad music app without taking your eyes off the road? The app could play any popular song requested.