%a(href='index')
    %img#header-logo(src='img/ask-ziggy-logo.png')
#company-tagline Enabling natural conversations with your devices
/ #nav= links
#nav
    %li
        <a>Solutions</a>
    %li
        <a>Industries</a>
    %li
        <a>News</a>
    %li
        <a>About</a>
/ secondary-nav= secondaryLinks