/ #hero
/   The most advanced Natural Language Understanding API platform.
#test
  #hero
    .title
      The most advanced Natural Language Understanding API platform.
    %a.link Learn more
    %a.link Sign up

  .stuff
    .controls
      %a.button Continue
      %br
      %a.button.red Cancel
      %br
      %a.button.blue Submit
      %br
      %a.button.quiet Submit
    %h1 Wearable Computing
    %p Ask Ziggy, Inc. ("Ask Ziggy") provides this Privacy Policy ("Privacy Policy") to help you understand how we collect, use and disclose information, including personal information that you may provide to us or that we may obtain as our products and services are used. We may update this Privacy Policy from time to time, so please check back with us periodically. This Privacy Policy applies to www.ask-ziggy.com and www.ask-ziggy.net (collectively, "Website") and to all Ask Ziggy products and services (collectively, "Ask Ziggy Products") unless the Ask Ziggy product or services is accompanied by its own Privacy Policy.

    %h2 Personal Information

    %p As used in the Privacy Policy, "Personal Information" refers to information that alone or when in combination with other information may be used to readily identify, contact, or locate you or a specific individual.

    %h2 Collected Information and Usage

    %p By using the Website or Ask Ziggy Products, you consent to the collection and use of your Personal Information by Ask Ziggy consistent with applicable data protection law and this Privacy Policy which is expressly incorporated into any applicable Website or Ask Ziggy Product Terms of Use (or equivalent document or license). You also represent to us that you have any and all authorizations necessary to use these Ask Ziggy Products including using them to process Personal Information. Ask Ziggy collects and uses the information you provide to us, including information obtained from your use of this Website or any Ask Ziggy Products.

    %p We may use or share Personal Information (e.g., name, address, telephone number, email address, and location) where it is necessary for us to complete a transaction or do something that you have asked us to do. Also, we may use the information that we collect for our internal purposes to develop, tune, enhance, and improve our products and services, and for advertising and marketing consistent with this Privacy Policy.

    %p By using Ask Ziggy products and services, you acknowledge, consent and agree that Ask Ziggy may collect, process, and use the Personal Information that you provide to us and that such Personal Information shall only be used by Ask Ziggy or third parties acting under the direction of Ask Ziggy, pursuant to confidentiality agreements, to develop, tune, enhance, and improve Ask Ziggy services and products. Ask Ziggy will not use the contents of any communications provided to us through your use of Ask Ziggy Products for any purpose except as set forth above.

    %h2 Ask Ziggy collects and uses your Personal Information in several ways:

    %p Website or Ask Ziggy Product Usage. Ask Ziggy (or third parties engaged by Ask Ziggy) may observe your activities, location, preferences, and transactional data (such as your IP address, browser type, mobile device unique ID, mobile operating system type) as well as related usage behavior depending on whether you are using our Website or a particular Ask Ziggy Product.

    %p We may use this data for any purpose unless we tell you otherwise in connection with a particular Website or Ask Ziggy product. While we may collect or log this information, we do not identify you or match this non-Personal Information with your other Personal Information unless or except if we believe doing so will help us better respond to a request you have made. Where such non-Personal Information is linked to your Personal Information we will treat such information as Personal Information.

    %h3 Ask Ziggy Product Usage

    %p Certain Ask Ziggy Products require you to enter Natural Language Data in order to use and derive the benefits of the particular product. These Ask Ziggy Products may collect and process the Natural Language Data you input into the Ask Ziggy Products as well as the corresponding output provided by the Ask Ziggy Product.Ask Ziggy or third parties acting under the direction of Ask Ziggy, pursuant to confidentiality agreements, use the Natural Language Data and corresponding output to develop, tune, enhance, and improve Ask Ziggy services and products.

    %p Ask Ziggy will not use the contents of any Natural Language Data provided to us through your use of Ask Ziggy Products or the corresponding output for any purpose except as set forth above. "Natural Language Data" means the audio files, transcriptions of the audio files, and related data provided by you hereunder or generated in connection with Ask Ziggy Products. Natural Language Data may include Personal Information.

    %h3 Online Purchases:

    %p You may be asked to share Personal Information such as your name, address, telephone number, and email address when you make purchases, seek customer or technical support or otherwise interact with Ask Ziggy. When buy directly from Ask Ziggy, these purchase transactions may be conducted through Ask Ziggy (or third parties engaged by Ask Ziggy). Vendors engaged by Ask Ziggy on behalf of Ask Ziggy may have their use of your Personal Information limited by this Privacy Policy, contractual restrictions, and applicable law.

    %p When you interact with third parties engaged by Ask Ziggy, the collection of your Personal Information by the third parties engaged by Ask Ziggy is governed by privacy policy or policies of such third parties engaged by Ask Ziggy. With respect to this section, the third parties include online app stores such as iTunes and Google Play.

    %h2 Product Registration & Technical Support

    %p Ask Ziggy may allow customers to register products online or through similar ways. Personal Information provided for such purposes may be used to carry out the request, service, or agreement for which the information is submitted. With your consent, we may also use the information you provide in registration forms to notify you periodically about important changes to the Website or existing Ask Ziggy Products, new Ask Ziggy products, and special offers and promotions that may be of interest to you. Failure to register any Ask Ziggy product will not diminish the rights you have under the applicable product warranty.

    %h2 Children

    %p The Ask Ziggy Website and Ask Ziggy Products are not directed at children. If you are under 18 or otherwise would be required to have parent or guardian consent to share information with Ask Ziggy, you should not send any information about yourself to us. As required by law, if a person under 13 submits information through any part of the Website or an Ask Ziggy Product, and we learn the person submitting the information is such a child, we will attempt to delete this information as soon as possible.



  .row(style="margin-top: 800px")
    .large-12.columns
      %h1 Welcome to Foundation
  .row
    .large-12.columns
      .panel
        %h3 We’re stoked you want to try Foundation!
        %p To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
        %p Once you've exhausted the fun in this document, you should check out:
        .row
          .large-4.medium-4.columns
            %p
              %a{href: 'http://foundation.zurb.com/docs'} Foundation Documentation
              %br/
              Everything you need to know about using the framework.
          .large-4.medium-4.columns
            %p
              %a{href: 'http://github.com/zurb/foundation'} Foundation on Github
              %br/
              Latest code, issue reports, feature requests and more.
          .large-4.medium-4.columns
            %p
              %a{href: 'http://twitter.com/foundationzurb'} @foundationzurb
              %br/
              Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
  .row
    .large-8.medium-8.columns
      %h5 Here’s your basic grid:
      / Grid Example
      .row
        .large-12.columns
          .callout.panel
            %p
              %strong
                This is a twelve column section in a row.&nbsp;
              Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
      .row
        .large-6.medium-6.columns
          .callout.panel
            %p Six columns
        .large-6.medium-6.columns
          .callout.panel
            %p Six columns
      .row
        .large-4.medium-4.small-4.columns
          .callout.panel
            %p Four columns
        .large-4.medium-4.small-4.columns
          .callout.panel
            %p Four columns
        .large-4.medium-4.small-4.columns
          .callout.panel
            %p Four columns
      %hr/
      %h5 We bet you’ll need a form somewhere:
      %form
        .row
          .large-12.columns
            %label Input Label
            %input{placeholder: 'large-12.columns', type: 'text'}/
        .row
          .large-4.medium-4.columns
            %label Input Label
            %input{placeholder: 'large-4.columns', type: 'text'}/
          .large-4.medium-4.columns
            %label Input Label
            %input{placeholder: 'large-4.columns', type: 'text'}/
          .large-4.medium-4.columns
            .row.collapse
              %label Input Label
              .small-9.columns
                %input{placeholder: 'small-9.columns', type: 'text'}/
              .small-3.columns
                %span.postfix \.com
        .row
          .large-12.columns
            %label Select Box
            %select
              %option{value: 'husker'} Husker
              %option{value: 'starbuck'} Starbuck
              %option{value: 'hotdog'} Hot Dog
              %option{value: 'apollo'} Apollo
        .row
          .large-6.medium-6.columns
            %label Choose Your Favorite
            %input#pokemonRed{name: 'pokemon', type: 'radio', value: 'Red'}/
            %label{for: 'pokemonRed'} Radio 1
            %input#pokemonBlue{name: 'pokemon', type: 'radio', value: 'Blue'}/
            %label{for: 'pokemonBlue'} Radio 2
          .large-6.medium-6.columns
            %label Check these out
            %input#checkbox1{type: 'checkbox'}/
            %label{for: 'checkbox1'} Checkbox 1
            %input#checkbox2{type: 'checkbox'}/
            %label{for: 'checkbox2'} Checkbox 2
        .row
          .large-12.columns
            %label Textarea Label
            %textarea{placeholder: 'small-12.columns'}
    .large-4.medium-4.columns
      %h5 Try one of these buttons:
      %p
        %a.small.button{href: '#'} Simple Button
        %br/
        %a.small.radius.button{href: '#'} Radius Button
        %br/
        %a.small.round.button{href: '#'} Round Button
        %br/
        %a.medium.success.button{href: '#'} Success Btn
        %br/
        %a.medium.alert.button{href: '#'} Alert Btn
        %br/
        %a.medium.secondary.button{href: '#'} Secondary Btn
      .panel
        %h5 So many components, girl!
        %p A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on making them your own.
        %a.small.button{href: 'http://foundation.zurb.com/docs/'} Go to Foundation Docs