include ../_mixins2

+resonate()
  #resonate
    .header
      .content
        img.logo(src='../img/resonate-logo-full.png')
        .hero-content
          h1 Are companies ignoring your resume?
          p Sign up to find out why.
          input.name-field(type='text' placeholder='Your name')
          input.email-field(type='email' placeholder='Your email')
          button.submit-button Submit
        img.paperclip(src='../img/paperclip.png')
    .body
      .content
        .intro
          p Preamble reveals relevant statistics about people who applied to the same job -- information that tells you where you rank among applicants, in terms of experience level and other meaningful criteria.
          p Our systems break down each applicant’s resume, ignoring private information, of course, and aggregate the important factors that may lead you to reconsider your resume approach to the job posting.
        h2 How it works.